/* =========================================
   2. BACKGROUND SHAPES (FIXED)
   ========================================= */
.bg-shapes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Sta dietro a tutto */
    overflow: hidden;
    background-color: #000b1a;
    /* Il nero/blu scuro di fondo sta QUI */
}

.shape {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.4;
    animation: float 10s infinite alternate ease-in-out;
}

.shape-1 {
    width: 500px;
    height: 500px;
    background: var(--color-dark-red);
    top: -100px;
    left: -100px;
}

.shape-2 {
    width: 400px;
    height: 400px;
    background: var(--color-plum);
    bottom: 10%;
    right: -50px;
    animation-delay: 2s;
}

.shape-3 {
    width: 300px;
    height: 300px;
    background: var(--color-hot-pink);
    top: 40%;
    left: 30%;
    animation-delay: 4s;
    opacity: 0.2;
}

@keyframes float {
    0% {
        transform: translate(0, 0) scale(1);
    }

    100% {
        transform: translate(30px, 50px) scale(1.1);
    }
}